.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.Node {
    margin: 1rem 10%;
    font-size: .875rem;
}

@media screen and (max-width: 960px) {
    .Node {
        margin: 1rem 24px;
    }
}

@media screen and (max-width: 600px) {
    .Node {
        margin: 1rem 16px;
    }
}

button {
    height: 36px;
    padding-left: 1em;
    padding-right: 1em;
    display: inline-flex;
    align-items: center;
    margin: 2px 4px;
    cursor: pointer;
}

.btn-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 0.67rem;
}

a {
    color: #7ff;
}

.dialogue-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin: 0 10%;
    padding: 0.4rem 0;
}

.self-speech {
    align-self: flex-end;
    color: #aaa;
    width: 67%;
    text-align: right;
    border-right: 0.3rem solid #aaa;
    padding-right: 1rem;
    margin: 0.6rem 0;
}

.other-speech {
    align-self: flex-start;
    width: 67%;
    text-align: left;
    border-left: 0.3rem solid;
    padding-left: 1rem;
    margin: 0.2rem 0;
}

.scrooge-speech {
    color: #90f;
    border-color: #90f;
}

.jon-speech {
    color: #5b5;
    border-color: #5b5;
}

.allam-speech {
    color: #d44;
    border-color: #d44;
}

.emily-speech {
    color: #6cf;
    border-color: #6cf;
}

.carmen-speech {
    color: #ff3;
    border-color: #ff3;
}

.dialogue-prompt {
    margin-top: 1rem;
}

.img-group-h3 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.img-group-h3 > img {
    height: 120px;
}

@media screen and (max-width: 960px) {
    .img-group-h3 {
        flex-direction: column;
        align-items: center;
    }

    .img-group-h3 > img {
        max-width: 80%;
        height: auto;
    }
}
