.App {
  background-color: #282c34;
  color: white;
  text-align: center;
  min-height: 100vh;
  padding: 0 10%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.Node {
    font-size: .875rem;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
}

@media screen and (max-width: 960px) {
    .App {
        padding: 0 24px;
    }
}

@media screen and (max-width: 600px) {
    .App {
        padding: 0 16px;
    }
}

img {
    max-width: 50%;
}

button {
    min-height: 36px;
    padding: 0.25rem 0.6rem;
    display: inline-flex;
    align-items: center;
    margin: 2px 4px;
    cursor: pointer;
}

.btn-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 0.67rem;
}

a {
    color: #7ff;
}

.dialogue-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin: 0 10%;
    padding: 0.4rem 0;
}

.self-speech {
    align-self: flex-end;
    color: #aaa;
    width: 67%;
    text-align: right;
    border-right: 0.3rem solid #aaa;
    padding-right: 1rem;
    margin: 0.6rem 0;
}

.other-speech {
    align-self: flex-start;
    width: 67%;
    text-align: left;
    border-left: 0.3rem solid;
    padding-left: 1rem;
    margin: 0.2rem 0;
}

.scrooge-speech {
    color: #90f;
    border-color: #90f;
}

.jon-speech {
    color: #5b5;
    border-color: #5b5;
}

.allam-speech {
    color: #a22;
    border-color: #a22;
}

.emily-speech {
    color: #6cf;
    border-color: #6cf;
}

.carmen-speech {
    color: #ff3;
    border-color: #ff3;
}

.dialogue-prompt {
    margin-top: 1rem;
}

.img-group-h3 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.img-group-h3 > img {
    height: 120px;
}

@media screen and (max-width: 960px) {
    .img-group-h3 {
        flex-direction: column;
        align-items: center;
    }

    .img-group-h3 > img {
        max-width: 80%;
        height: auto;
    }
}

.nco-speech {
    color: #e88;
    border-color: #e88;
}

.book-catalogue {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.book-catalogue > img {
    max-height: 30vh;
}

@media screen and (max-width: 960px) {
    .book-catalogue > img {
        max-height: 12.5vh
    }
}

.informative {
    margin-top: 0;
    padding-top: 0;
    font-style: italic;
    color: #bbb;
}

.textbox {
    text-align: left;
    width: 67%;
    border: 2px solid #444;
}

.textbox > .qn {
    padding: 0.33rem 1rem;
    background-color: #444;
}

.textbox > .ans {
    padding: 1rem;
    background-color: #282c34;
}

.rating {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 20rem;
}

.rating > .rating-label {
    font-size: 1.2rem;
}

.stars {
    font-size: 1.5rem;
}

.iframe-container {
    overflow: hidden;
    position: relative;
}

.iframe-container iframe {
    border: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
