.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.Node {
    margin: 1rem 10%;
    font-size: .875rem;
}

@media screen and (max-width: 960px) {
    .Node {
        margin: 1rem 24px;
    }
}

@media screen and (max-width: 600px) {
    .Node {
        margin: 1rem 16px;
    }
}

button {
    height: 36px;
    padding-left: 1em;
    padding-right: 1em;
    display: inline-flex;
    align-items: center;
    margin: 2px 4px;
}

.btn-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
